<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>{{title}}</title>
</head>
<body>
    <div class="container" style="width: 15rem;">
        <div class="card" style="margin-top: 30%;">
            <form method="POST" style="padding-top: 10px;padding-left: 10px; padding-right: 10px; margin-bottom:10px;">
                <h3 class="text-center">{{judul}}</h3>
                {% csrf_token %}
                <p>Anda yakin ingin menghapus postingan anda?</p>
                <input type="submit" name="Ya" class="btn btn-danger"/>
                <a href="{% url "kontak:list" %}" class="btn btn-primary">Tidak</a>
            </form>        
        </div>
    </div>

</body>
</html>